
html{
	background-color: purple;
}

body{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 70px 100px;
	background-color: white;
	border: 1px solid grey;
	width: 820px;
	height: 1200px;
	padding: 10px;
}

.header{
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;	
}

.pic{
	float: right;
	position: relative;
	height: 200px;
	width: 180px;
	border: 10px solid white;
	transform: rotate(-3deg);
	right: 30px;
	bottom: 50px;
	box-shadow: 0 5px 4px grey, 0 5px 4px grey;	
	margin: -20px;
}

.about{
	font-style: italic;
	font-weight: bold;
	float: left;
	max-width: 540px;
}

#contact  {
			border-top: 1px solid black;
			width: 780px;
}

.clear{
	clear: both;
}


.details h4{
	margin-top:0;
	margin-left: 70px;
}
.details{
	float: left;
	/*padding: 0;*/
	border-left: 0;
	margin-left: 60px;	
}

.details p{
	float: left;
	padding-left: 70px;
}
.headings{
	font-weight: bold;
	float: left;
	border-right: 1px solid grey;
	height: 30px;
	width: 100px;
}


ul{
	padding-left: 0;
	margin-top: 0;
	margin-left: 0;
	border-left: 0;
}
